body {
    margin: 0px 0px 1px 0px;
    /* the extra 1px allows the iOS inner/outer check to work */
    overflow: hidden;
}

@font-face {
    font-family: 'ComicSansBold';
    src: url('https://830581635-628405001538672842.preview.editmysite.com/uploads/b/139890129-709153476852373754/files/fonts/ComicSansBold.woff2') format('woff2'), url('https://830581635-628405001538672842.preview.editmysite.com/uploads/b/139890129-709153476852373754/files/fonts/ComicSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#gameFontPreload {
    position: absolute;
    left: -1000px;
    top: -1000px;
}

#orientation {
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://830581635-628405001538672842.preview.editmysite.com/uploads/b/139890129-709153476852373754/files/img/orientation.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(0, 0, 0);
    z-index: 999;
    display: none;
}