<config>

	<!-- SERVICES -->
    <!-- Enable, disable, and configure services here -->
    
	<services>
		<service type="analytics" enabled="false" id="1389943970046524657" />
	</services>

	<eula showLink="true" align="tr" offsetx="500" offsety="100" eulaurl="http://mobilefiles.nick.com/eula.htm" privacyurl="http://mobilefiles.nick.com/pp.htm" /> <!--  This is hardcoded to disable on non-Android devices no matter what settings you put in -->
	
	<localization>
    	<region>en</region>
    </localization>
	
	<!-- PACK DEFINITIONS -->
	<!-- Define packs and flump folders to be loaded later -->
	
      
    <packs>
    	<!-- EX
    	<pack id="pack_folder1"/>
    	<pack id="pack_folder2">
      		<flump id="flump_folder"/>
  		</pack>
    	-->
    	
    	<pack id="initial_load"/>
    	<pack id="gameplay_audio"/>
   		<pack id="gameplay_universal">
   			<flump id="anim_patrick"/>
   			<flump id="anim_player"/>
   			<flump id="anim_transition"/>
   			<flump id="anim_spongebob"/>
   		</pack>
   		
   		<!-- END OF PACKS -->
    </packs>
    
    <!-- CHUNKS -->
    <!-- Define larger bundles of chunks and packs to load -->
    
    <chunks>
    	<!-- EX
    	<chunk id="chunk">
			<chunk>load_part_1</chunk>
			<pack>load_part_2</chunk>
		</chunk>
    	-->
    
    	<chunk id="initial">
    		<pack>initial_load</pack>    		
    	</chunk>
    	
    	<chunk id="gameplay_android">
    		<pack>gameplay_universal</pack>
    	</chunk>
        <chunk id="gameplay">
    		<pack>gameplay_universal</pack>
    		<pack>gameplay_audio</pack>
    	</chunk>
        
        <!-- END OF CHUNKS -->
    </chunks>
    
</config>