<?xml version="1.0" encoding="UTF-8"?>

<config>
	<!-- Pack Definitions -->
	<pack id="main_pack">
		 <flump id="anim_effects"/>
         <flump id="anim_player"/>
         <flump id="anim_fish"/>
    </pack>
	
	<!-- Which packs to load automatically after the bootstrap -->
	<initial>
		<pack id="main_pack"/>
	</initial>
	
</config>
